{{!< default}}
<div id="sidebar">
	{{> header}}
	{{> footer}}
</div>

<main class="main" id="main" role="main">
	{{#foreach posts}}
		<article class="article" role="article" itemscope itemtype="http://schema.org/Article">
			<header class="postheader">
				<h1 class="posttitle" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
				<time class="date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">Publshed: {{date format='dddd DD MMM YYYY'}}</time>
				{{#if tags}}
				<div class="posttags">
					Tags: {{tags separator=" | "}}
				</div>
				{{/if}}
			</header>
			<div class="postcontent" itemprop="articleBody">
				{{content}}
			</div>
		</article>
	{{/foreach}}
	{{#if pagination}}
		<div class="pagination_uber">
			{{{pagination}}}
		</div>
	{{/if}}
</main>
